{% extends "base.html.twig" %}

{% block body %}
<h1>Recipe List -> {{ rtype.name }}</h1>

<div class="col-md-8">
<div class="panel panel-default">
    <ul class="list-group">
{% for r in recipeList %}
        <li class="list-group-item" style="min-height: 120px;">
            <div style="float: left; width: 150px;">
                <img src="{{ asset(r.recipeImages[0].imageName) | imagine_filter("tiny_image") }}" alt="{{ r.name }}" />
            </div>
            <div style="margin-left: 150px;">
                <h4 class="list-group-item-heading"><a href="{{ path("view_recipe", {"slug":r.slug}) }}">{{ r.name }}</a></h4>
                <p>{{ r.description | raw }}</p>
            </div>
        </li>
{% else %}
    <h3>{{ "general.no-data" | trans }}</h3>
    {{ render(path("featured_recipes", {"number": 4})) }}
{% endfor %}
    </ul>
</div>
</div>
<div class="col-md-4">
&nbsp;
</div>
{% endblock body %}